* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #b52184;
  --color-text: #312d64;
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 36.4rem;
  margin: 0 auto;
  text-align: center;
}

header .logo {
  width: 100%;
  height: 37rem;
}

header h1 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--primary-color);
  text-align: center;
  margin-top: 1.7rem;
}

header p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text);
}

header .arrowButton {
  width: 6rem;
  margin: 3.5rem auto 9rem;
  padding-block: 3rem;
  border-radius: 760px;
  border: 4px solid var(--primary-color);
}

main {
  background-color: var(--color-text);
  padding: 5rem;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  background-color: #fff;
  max-width: 35.2rem;
  width: 100%;
  padding: 2.6rem;
  border-radius: 2rem;
}

.card img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 3rem;
}

.card h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary-color);
}

.card p {
  font-weight: 600;
  color: var(--color-text);
  margin-top: 1rem;
}

footer section {
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer section h3 {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-top: 7.8rem;
}

footer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 10rem;
  margin-top: 4.3rem;
}

form input {
  width: 100%;
  height: 4.8rem;
  border-radius: 1.6rem;
  border: 1.5px solid var(--color-text);
  padding-left: 5rem;
  font-family: "Mulish", sans-serif;
}

form input:focus {
  outline-color: #b52184;
}

form > div {
  position: relative;
}

form img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.4rem;
}

form input::placeholder {
  color: var(--color-text);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

form textarea {
  width: 100%;
  resize: none;
  height: 12.6rem;
  border: 1.5px solid var(--color-text);
  border-radius: 16px;
  padding: 1.2rem 1.6rem;

  color: var(--color-text);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

form textarea:focus {
  outline-color: #b52184;
}

form textarea::placeholder {
  color: var(--color-text);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}

button {
  width: fit-content;
  padding: 1.2rem 1.6rem;
  border-radius: 1.6rem;
  border: none;

  background-color: var(--color-text);
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;

  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #5a5783;
}

footer p {
  padding: 3rem 1.6rem;
  background-color: var(--color-text);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.arrow {
  animation: move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.card img {
  animation: girar 25s linear infinite;
}

@keyframes move {
  50% {
    transform: translateY(30px);
  }
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  header .logo {
    width: 60rem;
    height: 60rem;
  }

  header h1 {
    font-size: 5.8rem;
    margin: 0;
  }

  header > div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  header p {
    font-size: 3.2rem;
    font-weight: 600;
  }

  header .arrowButton {
    margin: inherit;
    margin-top: 19rem;
  }

  .container {
    max-width: 120rem;
  }

  main section {
    flex-direction: row;
  }

  footer {
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
  }

  footer section {
    margin: inherit;
  }

  footer section form {
    width: 50%;
  }
}
